# Two-shot kill at any range, pinpoint accurate, heavily punished on a miss.
name=sniper
damage=75
rounds_per_minute=45
magazine_size=5
reload_seconds=3.0
range=200
spread_degrees=0
pellets=1
automatic=false
switch_seconds=0.7
